/* Add any CSS rules for Angular module "case2" */
#main-wrapper {
	background-color: #F7F7F7 !important;
}

#main {
	padding-top: 20px;
	margin-top: 0 !important;
}

/* Removing sidebar and header, for best experience of the user */ 
#header,
#sidebar-first {
	display: none !important;
}

.one-sidebar #content {
	width: 960px !important;
}

.sidebar .block {
	background-color: #ffffff !important;
  border-color: transparent !important;
  border-radius: 5px;
  box-shadow: 0 0 9px rgba(0, 0, 56, 0.07);
}

.sidebar h2 {
	border-color: #ececec;
}

/*Correting*/
.one-sidebar #content {
	float: none !important;
}

#main {
	width: 100% !important;
  padding: 20px 20px;
}

/* Personalization */
h1#page-title {
	font-family: Arial;
	font-weight: bold;
	color: #505050;
}